.fontButton {
    font-size: 20px;
    color: black;
    font-family: Averta;
}

.fontFamily {
    font-size: 20px;
    color: #FFF448;
    font-family: Averta;
}

.fontError {
    font-size: 20px;
    color: red;
    font-family: Averta;
}
.seperator {
    height: 100%;
    width: 1px;
    background: black;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 50%;
}
.verticalLine {
    border-right: solid #FFF448;
}
div.vertical-line{
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content.
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
}
